<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label 'user Role' %>
    <%= form.select :role, options_for_select(User.roles.map { |role, value| [role, role] }), {:prompt => 'Select Roles'} %>
    
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
