<p id="notice"><%= notice %></p>

<p>
  <strong>Full Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%= link_to 'Back', users_path(role: @user.role) %>
