<p id="notice"><%= notice %></p>

<h1>Schools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>School Admin</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @schools.includes(:admin).each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= school.email %></td>
        <td><%= "#{school.admin.full_name}" %></td>
        
        <% if can? :read, Course %>
          <td><%= link_to 'Courses', school_courses_path(school_id: school.id) %></td> 
        <% end %>
        
        <% if can? :read, school %>
          <td><%= link_to 'Show', school %></td>
        <% end %>

        <% if can? :update, school %>
          <td><%= link_to 'Edit', edit_school_path(school) %></td> 
        <% end %>
        <% if can? :destroy, school %>
          <td><%= button_to 'Destroy', school_path(school), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, School %>
  <%= link_to 'New School', new_school_path %>
<% end %>
