<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<% if can? :edit, @school %>
  <%= link_to 'Edit', edit_school_path(@school) %> |
<% end %>
<%= link_to 'Courses', school_courses_path(@school) %> |
<%= link_to 'Back', schools_path %>
