<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <% if can? :read, Batch %>
          <td><%= link_to 'Batches', school_course_batches_path(school_id: @school.id, course_id: course.id) %></td>
        <% end %>
        
        <% if can? :read, course %>
          <td><%= link_to 'Show', school_course_path(@school, course) %></td>
        <% end %>
        
        <% if can? :manage, course %>
          <td><%= link_to 'Edit', edit_school_course_path(@school, course) %></td>
          <td><%= button_to 'Destroy', school_course_path(@school, course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, Course %>
  <%= link_to 'New Course', new_school_course_path(@school) %>
<% end %>
