<p id="notice"><%= notice %></p>

<h1>Students for batch: <%= @batch.name %></h1>


<table>
  <thead>
    <tr>
      <th>Batch</th>
      <th>Student</th>
      <th>Student email</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if classmates.empty? %>
      <% @classmates.includes(:student).each do |approved_student| %>
        <tr>
          <td><%= @batch.name %></td>
          <td><%= approved_student.student&.full_name %></td>
          <td><%= approved_student.student&.email %></td>
          <td><%= link_to 'Show', batch_enrollment_request_path(@batch, approved_student) %></td>
          <% if can? :manage, EnrollmentRequest %>
            <td><%= button_to 'Destroy', batch_enrollment_request_path(@batch, approved_student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<% if can? :create, EnrollmentRequest %>
  <%= link_to 'New Enrollment Request', new_batch_enrollment_request_path(@batch) %>
<% end %>
<%= link_to 'Back', school_course_batches_path(@school, @course) %>
