<p id="notice"><%= notice %></p>

<h1>Pending Enorllment Requests</h1>

<table>
  <thead>
    <tr>
      <th>Batch</th>
      <th>Student</th>
      <th>Status</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @pending_enrollment_requests.includes(:student).each do |enrollment_request| %>
      <tr>
        <td><%= @batch.name %></td>
        <td><%= enrollment_request.student&.full_name %></td>
        <td><%= enrollment_request.status %></td>
        <% if can? :manage, EnrollmentRequest %>
          <td><%= link_to 'Approve', batch_enrollment_request_approve_path(batch_id: @batch, enrollment_request_id:enrollment_request) %></td>
          <td><%= link_to 'Decline', batch_enrollment_request_decline_path(batch_id: @batch, enrollment_request_id:enrollment_request) %></td>
          <td><%= button_to 'Destroy', batch_enrollment_request_path(@batch, enrollment_request), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if can? :create, EnrollmentRequest %>
  <%= link_to 'New Enrollment Request', new_batch_enrollment_request_path(@batch) %>
<% end %>
<%= link_to 'Back', school_course_batches_path(@school, @course) %>
